/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
	font-family: 'Chakra Petch', sans-serif;}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

body .container{
	width: 876px;
	margin: 0 auto;
}

.navigation {
	overflow: hidden;
	background-color: grey;
	position: fixed;
	top: 0;
	width: 876px;
	z-index: 10;
	padding-bottom: 15px;
	/* position: absolute; */
}

.navigation nav {
	margin: 0 20px;
}

.navigation nav a:not(:last-child) {
	display: inline-block;
	float: left;
	margin-right: 40px;
	margin-top: 20px;
	/* padding-bottom: 20px; */
	text-decoration: none;
	/* position: relative; */
	color: white;
	background-color: black;
	border-radius: 5px;
	padding: 5px;
}

.navigation nav a:hover {
	color: blueviolet;
}

.navigation nav img {
	display: inline-block;
	margin-top: 15px;
}

/* .header-content .header_image {
	display: inline-block;
} */

.header-content {
	margin: 120px 0 20px 0;
	border-bottom: 2px solid black;
	vertical-align: none;
	/* border: 1px solid red; */
}

.header-content .header_text {
	display: inline-block;
	float: left;
	margin: 0 70px;
	/* position: relative; */
	margin-bottom: 80px;
	margin-top: 50px;
}

.header-content img {
	/* display: inline-block; */
	/* float: right; */
	margin-left: 40px;
	margin-bottom: 50px;
	/* position: relative; */
}

.header-content h1 {
	font-size: 80px;
	text-align: center;
	width: 280px;
	/* position: relative; */

}

.header-content .header_text button {
	width: 150px;
	height: 30px;
	margin-left: 60px;
	border-radius: 3px;
	background-color: white;
}

.feature-about-content {
	/* display: inline-block; */
	margin: 40px 0;
}

.feature-about-content .feature-content {
	display: inline-block;
	width: 420px;
	margin-right: 15px;

}

.feature-about-content .about-content {
	display: inline-block;
	width: 420px;
	margin-left: 15px;

}

.service-product-vision-content {
	margin: 40px 0;
	margin-bottom: 40px;
	/* border-bottom: 2px solid black; */
}

.service-product-vision-content .service-content {
	display: inline-block;
	width: 280px;
	margin-right: 12px;
}

.service-product-vision-content .product-content {
	display: inline-block;
	width: 280px;
	margin-right: 12px;

}

.service-product-vision-content .vision-content {
	display: inline-block;
	width: 280px;

}

.contact-content {
	border-top: 2px solid black;
	margin-bottom: 40px;
}

.contact-content h2 {
	margin-top: 40px;
}

.contact-content address {
	width: 150px;
}

.contact-content .phone-content {
	margin: 20px 0;
}

.footer-content p {
	text-align: center;
	margin-bottom: 30px;
}